body{
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAgMAAADUn3btAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQIFQEfWioE/wAAAAlQTFRF0Njc2eHl////72WY8QAAAAFiS0dEAmYLfGQAAAAQSURBVAgdY2BlEGEIYHAEAAHAAKtr/oOEAAAAAElFTkSuQmCC");
	font-family: monospace;
}

*:focus{
	outline: none;
}
a{
	text-decoration: none;
	color:#33F;
}
.post{
	border-radius: 14px;
	overflow: hidden;
	font-size: 14px;
	font-family: monospace;
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	margin-bottom: 10px;
}
.postinfo{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.username{
	font-weight: bold;
	color: green;
	font-size: 16px;
	padding: 5px;

}
.subject{
	font-weight: bold;
	font-color: darkblue;
	font-size: 16px;
	padding: 5px;
}
.text{
	font-size: 16px;
	height: 100%;
	padding: 10px;
	width: auto;
}
.id{
	color: #00F;
	cursor: pointer;
}
.tag{
	margin-left: 3px;
	margin-right: 3px;
}
.thumb{
	display: inline;
	margin-left: 16px;
}
.filelink{
	font-size: 16px;
}
hr{
	clear:both;
}
.file{
	display:inline-block;
	vertical-align: top;
	margin: 8px;
}
.filelink{
	margin-left: 18px;
}
.pagelist{
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}
.thumb{
	float: left;
	outline: none;
	cursor: pointer;
}
.thread_replies{
	margin-left: 40px;
	margin-right: 20px;
}
.replycounter{	
	float: right;
	border-radius: 90px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAgMAAADUn3btAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQIFQEfWioE/wAAAAlQTFRF0Njc2eHl////72WY8QAAAAFiS0dEAmYLfGQAAAAQSURBVAgdY2BlEGEIYHAEAAHAAKtr/oOEAAAAAElFTkSuQmCC");
	border: 1px solid rgba(0,0,0,0.1);
	margin: 5px;
}
.small_reply_counter{
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	margin: 3px;
	color:white;
	text-shadow: 0 0 1px #555;
}
.powcounter{
	padding-top: 20px;
	padding-bottom: 2px;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(100,100,100,0.1);
}
.small_pow_counter{
	font-size: 25px;
	font-weight: bold;
	padding: 6px;
	margin: 3px;
	color:blue;
}
.pow{
	font-size: 16px;
}
.posttreelink, .postuplink{	
	float: right;
	border-radius: 90px;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAgMAAADUn3btAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gQIFQEfWioE/wAAAAlQTFRF0Njc2eHl////72WY8QAAAAFiS0dEAmYLfGQAAAAQSURBVAgdY2BlEGEIYHAEAAHAAKtr/oOEAAAAAElFTkSuQmCC");
	border: 1px solid rgba(0,0,0,0.1);
	margin: 5px;
}
.treelink, .uplink{
	font-size: 16px;
	font-weight: bold;
	padding: 6px;
	margin: 3px;
	color:white;
	text-shadow: 0 0 1px #555;
}

.pagelist{
	margin-bottom: 10px;
}
.pagelink, .currentpage{
	font-size: 22px;
	font-weight: bold;
	font-family: monospace;
	padding: 3px;
	color:white;
	border-radius: 50px;
	text-shadow: 0 0 1px #555;
	margin: 7px;
}
.currentpage{
	border-radius: 5px;
	overflow: hidden;
	font-family: monospace;
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
	margin-bottom: 10px;
}
.currentpagenum{
	margin: 2px;
	color: #CCF;
}
.postformtable{
	width: 50%; 
	margin: 0 auto; 
	border-radius: 14px;
	font-family: monospace;
	background-color: white;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	border-right: 1px solid rgba(0,0,0,0.3);
}
.postformname, .postformsubject,.postformtext{
	width: 95%;
}
.postformtext{
}
.postformsubmit{
	float: right;
}
.filethumb{
	max-width: 150px;
	max-height: 150px;
	display: inline;
}
.fileentry{
	display: inline;
}
.additionaltag{
	color: #3A8;
}
.usertag{
	display: inline-block;
	color: #33F;
	cursor: pointer;
}
#taginput{
	width: 130px;
}
.replyitem{
	font-size: 10px;
	color: #555;
	font-weight: normal;
	text-shadow: none;
}
.popup{
	position: fixed;
	background-color: white;
	border-radius: 0 0 4px 4px;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 0;
}
.item{
	padding: 2px;
}
.item:hover{
	background-color: #EEF;
}
.postpreview{
	position: absolute;
	min-width: 700px;
}
.postpreview > .post{
	border-radius: 10px 0 10px 10px;
	border: 1px solid rgba(0,0,0,0.2);
}
.postpreview > .post > .postinfo > .replycounter > .small_reply_counter > .replies_s{
	display: none;
}
.postpreview > .post > .postinfo > .postuplink, .postpreview > .post > .postinfo > .posttreelink {
	display: none;
}